<h2>Question [number]</h2>

<h4>question goes here</h4>
<ol>
  <li><button>Answer 1 goes here</button></li><br> 
  <li><button>Answer 2 goes here</button></li><br>
  <li><button>Answer 3 goes here</button></li><br>
  <li><button>Answer 4 goes here</button></li><br>
  <li><button>Answer 5 goes here</button></li><br>
  <li><button>Answer 6 goes here</button></li>
</ol>